:root{
     --correct-color: darkmagenta;
     --wrong-color: crimson;

}
 
 
 body{
     
     padding: 0;
     margin: 0;
     display: flex;
     width: 100vh;
     height: 100vh;
     justify-content: center;
    
 }
 .container{
     width: 800px;
     max-width: 80%;
     background-color:aqua;
     border-radius: 5px;
     padding: 10px;
     

 }
 .btn-grid {
     display: grid;
     grid-template-columns: auto;
     gap: 10px;
     margin: 50px 100px;

 }
 .btn{
   background-color:chartreuse;
   border-radius: 5px;
padding: 5px 10px;
   
 }
 .btn.correct{
background-color: var(--correct-color);

 }

 .btn.wrong{
background-color: var(--wrong-color);
 }
 .btn:hover {
     background-color:pink;
 }
 .start-btn, .next-btn {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
 }
 .controls {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hide {
     display: none;
 }